<div class="cust_padd single_pg my-acc pb-5">
	<div class="container">
		<div class="col-sm-6 offset-sm-3">
			<div class="log_form">
				<div class="wrap_heading mb-3 text-white text-center">
					<h3>My Account</h3>
				</div>
				<div class="profile-image text-center">
					<img src="assets/images/profile1.jpg"  class="profile_pick mb-3">

					<input type="file" class="form-control input-image">
				</div>
				<div class="col-sm-12">
					<div class="wrap_fields">
						<div class="form-group">
							<!-- <label>First Name</label> -->
							<input type="email" placeholder="Enter First Name" class="form-control">
						</div>
						<div class="form-group">
							<!-- <label>Last Name</label> -->
							<input type="password" placeholder="Enter Last Name" class="form-control">
						</div>
						<div class="form-group">
							<!-- <label>Email Address</label> -->
							<input type="password" placeholder="Enter Email Address" class="form-control">
						</div>
						<div class="form-group">
							<!-- <label>Mobile Number</label> -->
							<input type="password" placeholder="Enter Mobile Number" class="form-control">
						</div>
						<div class="form-group">
							<div class="log_btn mt-3 d-flex justify-content-between">
								<a href="#" class="btn socio-btn green_btn">Edit Account</a>
								<a href="#" class="btn socio-btn green_btn">Change Password</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>