<section class="header_section">	
	<nav class="navbar navbar-light">
	    <a class="navbar-brand" routerLink="/home">
	        <img src="assets/images/logo.png" class="img-fluid">
	    </a>
	    <form class="form-inline">
	        <!-- <div class="header_search">
	            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	            <i class="fas fa-search"></i>
	        </div> -->
	        <div class="cell_phn">
	            <i class="fas fa-phone"></i> 1800-1234-4567
	        </div>
	        <a routerLink="/login" class="btn theme-btn header_login my-2 my-sm-0">Login</a>
	    </form>
	</nav>		
</section>