<section class="header_section">	
	<nav class="navbar navbar-light">
	    <a class="navbar-brand" routerLink="/home">
	        <img src="assets/images/logo.png" class="img-fluid">
	    </a>
	    <form class="form-inline">
	        <div class="user_nam">
	            <img src="assets/images/profile4.jpg" class="img-fluid">
	            <span class="nam">Preeti</span>
	        </div>
	        <div class="cart">
	        	<i class="fas fa-shopping-cart"></i>
	        	<span class="badge badge-danger cust_bd">2</span>
	        </div>
	    </form>
	</nav>		
</section>