<app-inner-header></app-inner-header>
<div class="stores_pg single_pg">
	<div class="search_strip">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8 text-left">
					<h3>Stores</h3>
				</div>
				<div class="col-sm-4 text-right">
					<div class="search">
						<input type="search" class="form-control" placeholder="Search...">
						<i class="fa fa-search"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="diff-shops">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp blue_bg">
						<div class="shop_img">
							<img src="assets/images/1.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp red_bg">
						<div class="shop_img">
							<img src="assets/images/2.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp blue_bg">
						<div class="shop_img">
							<img src="assets/images/3.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp red_bg">
						<div class="shop_img">
							<img src="assets/images/4.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp red_bg">
						<div class="shop_img">
							<img src="assets/images/4.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp blue_bg">
						<div class="shop_img">
							<img src="assets/images/3.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp red_bg">
						<div class="shop_img">
							<img src="assets/images/2.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp blue_bg">
						<div class="shop_img">
							<img src="assets/images/1.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp blue_bg">
						<div class="shop_img">
							<img src="assets/images/1.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp red_bg">
						<div class="shop_img">
							<img src="assets/images/2.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp blue_bg">
						<div class="shop_img">
							<img src="assets/images/3.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a href="javascript:;" class="single_shp red_bg">
						<div class="shop_img">
							<img src="assets/images/4.png" class="img-fluid">
							<p class="trans">Today before 10am</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>